In [ ]:
#Tuple

In [5]:
new_tup = (1,2.76,3,4,5.89,6,7,6.55,5,4.6)

In [6]:
new_tup.index(4.6)

9

In [3]:
numbers = (1 ,2 ,2 ,3 ,4 ,4 ,5 ,6 ,1 ,5 ,3 ,9)

In [4]:
numbers.count(2)

2

numbers.count(9)

In [7]:
numbers.count(6)

1

# FOR LOOP

In [11]:
my_numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
for number in my_numbers:
    mult = number * 2
    print(mult)

2
4
6
8
10
12
14
16
18
20
22
24

In [18]:
name1 = ["Ali","Omar","Qasim","Waqas"]
for name2 in name1:
    print(name2)

Ali
Omar
Qasim
Waqas

In [16]:
for a in range(1,11,2):
    print(a)

1
3
5
7
9

In [19]:
#for reversing range in descending order
for r in range(10,0,-1):
    print(r,end=" ")

10 9 8 7 6 5 4 3 2 1

In [20]:
for r in range(10,0,-1):
    print(r,end=" \t")  #escape character

10 	9 	8 	7 	6 	5 	4 	3 	2 	1

In [21]:
print("asad","ali","hamza",sep="********")

asad********ali********hamza

In [22]:
name = "sufyan"
age = "25"
# print formatting
print(f"my name is  {name} and my age is {age}")

my name is  sufyan and my age is 25

In [23]:
name = "sufyan"
age = "25"
# print formatting
print("my name is {} and my age is {}".format(name,age))

my name is sufyan and my age is 25

In [24]:
#string cannot  be merge with integer but in formatting it will be done automatically
name = "sufyan"
age = 25
# print formatting
print(f"my name is  {name} and my age is {age}")

my name is  sufyan and my age is 25

In [25]:
name = "sufyan"
age = "30"
print("my name is "+ name +"and my age is " + age)

my name is sufyanand my age is 30

In [3]:
table = int(input("Enter the number: "))
for nums in range(1,12):
    print(f"{table} * {nums} = {table * nums}")

Enter the number: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44

In [5]:
table = int(input("Enter the number: "))
for nums in range(1,21):
    print(f"{table} * {nums} = {table * nums}")

Enter the number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [7]:
# to  control for loop we use keyword ...... break , continue , pass
table = int(input("Enter the number: "))
for nums in range(1,12):
    if nums==3:
        break
    print(f"{table} * {nums} = {table * nums}")

Enter the number: 6
6 * 1 = 6
6 * 2 = 12

In [8]:
table = int(input("Enter the number: "))
for nums in range(0,11,2):  #this is called steps in which first number is starting number second is  ending and last  is the skip step which in our case is 2 it  means it is skipping 2 steps
    if nums==3:
        continue
    print(f"{table} * {nums} = {table * nums}")

Enter the number: 6
6 * 0 = 0
6 * 2 = 12
6 * 4 = 24
6 * 6 = 36
6 * 8 = 48
6 * 10 = 60

In [5]:
name = input("Enter the member name: ")
member = ["Ammar","Waqas","Ahad","Sameer","Salman","Qasim"]
for mem in member:
    if member!="Qasim":
        print("enjoy party")
    else:
        print("Party Khatam")
        break

Enter the member name: Qasim
enjoy party
enjoy party
enjoy party
enjoy party
enjoy party
enjoy party

In [7]:
for a in range(10):    
    pass

# Nester for Loops

In [10]:
for a in range(3):                     #when inner loop is dependent on outer loop
    for  b in ["a",'b','c','v']:
        print(a,b)

0 a
0 b
0 c
0 v
1 a
1 b
1 c
1 v
2 a
2 b
2 c
2 v

In [11]:

for a in range(3):
    counter = 0
    for b in  ["a",'b','c','v']:
        counter +=1
        
        print(a,b)
        if counter == 3:
            break

0 a
0 b
0 c
1 a
1 b
1 c
2 a
2 b
2 c

In [20]:

for nums in range(2,10):
    print("\n")
    for num in [1,2,3,4,5,6,7,8,9,10]:   # we can also use "for counter in range(1,11):"  instead  of defining list
        print(f"{nums} * {num} = {nums * num}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90